# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [19]:
# Create a District Summary
df = pd.DataFrame(school_data_complete, columns = ['Student ID', 'student_name', 'gender', 'grade', 'school_name', 'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'])
district_summary = school_data_complete['school_name'].drop_duplicates()

print(district_summary)

0            Huang High School
2917      Figueroa High School
5866       Shelton High School
7627     Hernandez High School
12262      Griffin High School
13730       Wilson High School
16013      Cabrera High School
17871       Bailey High School
22847       Holden High School
23274         Pena High School
24236       Wright High School
26036    Rodriguez High School
30035      Johnson High School
34796         Ford High School
37535       Thomas High School
Name: school_name, dtype: object

In [3]:
# Total number of schools
district_summary.count()

15

In [4]:
# Total number of students
school_data_complete['student_name'].count()

39170

In [5]:
# Total budget
school_data_complete['budget'].sum()

82932329558

In [6]:
# Average math score
school_data_complete['math_score'].mean()

78.98537145774827

In [7]:
# Average reading score
school_data_complete['reading_score'].mean()

81.87784018381414

In [8]:
# Overall average score
combine_avrg = school_data_complete['reading_score'].add(school_data_complete['math_score'])
combine_avrg.mean()

160.86321164156243

In [41]:
# Percentage of passing math (70 or greater)
passing_score = 70
pass_math_perc = (len(df[df['math_score'] >= passing_score]) / len(df)) * 100

print(pass_math_perc)

74.9808526933878

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [77]:
#  Sort and display the top five schools in overall passing rate
df['math_passed'] = df['math_score'] >= passing_score
df['read_passed'] = df['reading_score'] >= passing_score
df['ovrl_passed'] = (df['math_passed'] & df['read_passed'])

ovrl_pass_by_schl = df.groupby('school_name')['ovrl_passed'].mean() * 100
top_five = ovrl_pass_by_schl.sort_values(ascending=False).head(5)

print(top_five)

school_name
Cabrera High School    91.334769
Thomas High School     90.948012
Griffin High School    90.599455
Wilson High School     90.582567
Pena High School       90.540541
Name: ovrl_passed, dtype: float64

In [79]:
# Calculate total school budget
ttl_bdg = df['budget'].sum()

print(ttl_bdg)

82932329558

In [82]:
# Calculate per student budget
tt_stdt = df['Student ID'].sum()
stdt_budget = ttl_bdg / tt_stdt

print(stdt_budget)

108.1079930292704

In [ ]:
# Cacluate the avg math and reading score
avg_math_score = df['math_score'].mean()
avg_read_score = df['read_score'].mean()

#### Find the passing rate for math and reading (above 70 points)

In [34]:
# Find the total counts of math result
math_score_count = school_data_complete['math_score'].count()

print(math_score_count)

# Find the counts for math result in each school that pass 70 or higher
filt_df = df[df['math_score'] >= 70]
school_math_counts = filt_df.groupby(by=['school_name'])['math_score'].count()

print(school_math_counts)

# Calculate the math passing rate
passing_score = 70
passed_math_df = df[df['math_score'] >= passing_score]
math_passing_rate = (len(passed_math_df) / len(df)) * 100

print(math_passing_rate)

39170
school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64
74.9808526933878

In [38]:
# Find the total counts of read result
total_read_counts = df['reading_score'].count()

print(total_read_counts)

# Find the counts for read result in each school that pass 70 or higher
filt_df = df[df['reading_score'] >= 70]
school_reading_counts = filt_df.groupby(by=['school_name'])['math_score'].count()

print(school_reading_counts)

# Calculate the read passing rate
passing_score = 70
passed_reading_df = df[df['reading_score'] >= passing_score]
reading_passing_rate = (len(passed_reading_df) / len(df)) * 100

print(reading_passing_rate)

39170
school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: math_score, dtype: int64
85.80546336482001

In [39]:
# Calculate the overall passing rate (average of the math and reading passing rate)
ovrl_pass_rt = (math_passing_rate + reading_passing_rate) / 2

print(ovrl_pass_rt)

80.39315802910392

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [83]:
#  Sort and display the worst five schools in overall passing rate
wrst_five = ovrl_pass_by_schl.sort_values(ascending=True).head(5)

print(wrst_five)

school_name
Rodriguez High School    52.988247
Figueroa High School     53.204476
Huang High School        53.513884
Hernandez High School    53.527508
Johnson High School      53.539172
Name: ovrl_passed, dtype: float64

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [44]:
# Create table that lists the average math score for each school of each grade level.
avr_math = df.groupby(['school_name', 'grade'])['math_score'].mean().reset_index()
avr_math = average_math_scores.rename(columns={'math_score': 'avr_math'})

print(avr_math)

              school_name grade  average_math_score
0      Bailey High School  10th           76.996772
1      Bailey High School  11th           77.515588
2      Bailey High School  12th           76.492218
3      Bailey High School   9th           77.083676
4     Cabrera High School  10th           83.154506
5     Cabrera High School  11th           82.765560
6     Cabrera High School  12th           83.277487
7     Cabrera High School   9th           83.094697
8    Figueroa High School  10th           76.539974
9    Figueroa High School  11th           76.884344
10   Figueroa High School  12th           77.151369
11   Figueroa High School   9th           76.403037
12       Ford High School  10th           77.672316
13       Ford High School  11th           76.918058
14       Ford High School  12th           76.179963
15       Ford High School   9th           77.361345
16    Griffin High School  10th           84.229064
17    Griffin High School  11th           83.842105
18    Griffin High School  12th           83.356164
19    Griffin High School   9th           82.044010
20  Hernandez High School  10th           77.337408
21  Hernandez High School  11th           77.136029
22  Hernandez High School  12th           77.186567
23  Hernandez High School   9th           77.438495
24     Holden High School  10th           83.429825
25     Holden High School  11th           85.000000
26     Holden High School  12th           82.855422
27     Holden High School   9th           83.787402
28      Huang High School  10th           75.908735
29      Huang High School  11th           76.446602
30      Huang High School  12th           77.225641
31      Huang High School   9th           77.027251
32    Johnson High School  10th           76.691117
33    Johnson High School  11th           77.491653
34    Johnson High School  12th           76.863248
35    Johnson High School   9th           77.187857
36       Pena High School  10th           83.372000
37       Pena High School  11th           84.328125
38       Pena High School  12th           84.121547
39       Pena High School   9th           83.625455
40  Rodriguez High School  10th           76.612500
41  Rodriguez High School  11th           76.395626
42  Rodriguez High School  12th           77.690748
43  Rodriguez High School   9th           76.859966
44    Shelton High School  10th           82.917411
45    Shelton High School  11th           83.383495
46    Shelton High School  12th           83.778976
47    Shelton High School   9th           83.420755
48     Thomas High School  10th           83.087886
49     Thomas High School  11th           83.498795
50     Thomas High School  12th           83.497041
51     Thomas High School   9th           83.590022
52     Wilson High School  10th           83.724422
53     Wilson High School  11th           83.195326
54     Wilson High School  12th           83.035794
55     Wilson High School   9th           83.085578
56     Wright High School  10th           84.010288
57     Wright High School  11th           83.836782
58     Wright High School  12th           83.644986
59     Wright High School   9th           83.264706

In [45]:
# Calculate the average math score for 9th grade in each school
grd_9_math = df[df['grade'] == '9th']
avr_9_math = grd_9_math.groupby('school_name')['math_score'].mean()

print(avr_9_math)

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [46]:
# Calculate the average math score for 10th grade in each school
grd_10_math = df[df['grade'] == '10th']
avr_10_math = grd_10_math.groupby('school_name')['math_score'].mean()

print(avr_10_math)

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [47]:
# Calculate the average math score for 11th grade in each school
grd_11_math = df[df['grade'] == '11th']
avr_11_math = grd_11_math.groupby('school_name')['math_score'].mean()

print(avr_11_math)

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [48]:
# Calculate the average math score for 12th grade in each school
grd_12_math = df[df['grade'] == '12th']
avr_12_math = grd_12_math.groupby('school_name')['math_score'].mean()

print(avr_12_math)

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [50]:
# Create table that lists the average reading score for each school of each grade level.
avr_read = df.groupby(['school_name', 'grade'])['reading_score'].mean().reset_index()
avr_read = avr_read.rename(columns={'reading_score': 'avr_read'})

print(avr_read)

              school_name grade   avr_read
0      Bailey High School  10th  80.907183
1      Bailey High School  11th  80.945643
2      Bailey High School  12th  80.912451
3      Bailey High School   9th  81.303155
4     Cabrera High School  10th  84.253219
5     Cabrera High School  11th  83.788382
6     Cabrera High School  12th  84.287958
7     Cabrera High School   9th  83.676136
8    Figueroa High School  10th  81.408912
9    Figueroa High School  11th  80.640339
10   Figueroa High School  12th  81.384863
11   Figueroa High School   9th  81.198598
12       Ford High School  10th  81.262712
13       Ford High School  11th  80.403642
14       Ford High School  12th  80.662338
15       Ford High School   9th  80.632653
16    Griffin High School  10th  83.706897
17    Griffin High School  11th  84.288089
18    Griffin High School  12th  84.013699
19    Griffin High School   9th  83.369193
20  Hernandez High School  10th  80.660147
21  Hernandez High School  11th  81.396140
22  Hernandez High School  12th  80.857143
23  Hernandez High School   9th  80.866860
24     Holden High School  10th  83.324561
25     Holden High School  11th  83.815534
26     Holden High School  12th  84.698795
27     Holden High School   9th  83.677165
28      Huang High School  10th  81.512386
29      Huang High School  11th  81.417476
30      Huang High School  12th  80.305983
31      Huang High School   9th  81.290284
32    Johnson High School  10th  80.773431
33    Johnson High School  11th  80.616027
34    Johnson High School  12th  81.227564
35    Johnson High School   9th  81.260714
36       Pena High School  10th  83.612000
37       Pena High School  11th  84.335938
38       Pena High School  12th  84.591160
39       Pena High School   9th  83.807273
40  Rodriguez High School  10th  80.629808
41  Rodriguez High School  11th  80.864811
42  Rodriguez High School  12th  80.376426
43  Rodriguez High School   9th  80.993127
44    Shelton High School  10th  83.441964
45    Shelton High School  11th  84.373786
46    Shelton High School  12th  82.781671
47    Shelton High School   9th  84.122642
48     Thomas High School  10th  84.254157
49     Thomas High School  11th  83.585542
50     Thomas High School  12th  83.831361
51     Thomas High School   9th  83.728850
52     Wilson High School  10th  84.021452
53     Wilson High School  11th  83.764608
54     Wilson High School  12th  84.317673
55     Wilson High School   9th  83.939778
56     Wright High School  10th  83.812757
57     Wright High School  11th  84.156322
58     Wright High School  12th  84.073171
59     Wright High School   9th  83.833333

In [51]:
# Calculate the average reading score for 9th grade in each school
grd_9_read = df[df['grade'] == '9th']
avr_read_9 = grd_9_read.groupby('school_name')['reading_score'].mean()

print(avr_read_9)

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [52]:
# Calculate the average reading score for 10th grade in each school
grd_10_read = df[df['grade'] == '10th']
avr_read_10 = grd_10_read.groupby('school_name')['reading_score'].mean()

print(avr_read_10)

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [53]:
# Calculate the average reading score for 11th grade in each school
grd_11_read = df[df['grade'] == '11th']
avr_read_11 = grd_11_read.groupby('school_name')['reading_score'].mean()

print(avr_read_11)

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [54]:
# Calculate the average reading score for 12th grade in each school
grd_12_read = df[df['grade'] == '12th']
avr_read_12 = grd_12_read.groupby('school_name')['reading_score'].mean()

print(avr_read_12)

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [59]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [60]:
# Create a new column to show budget per student in each row
df['budget_per_student'] = df['budget'] / school_data_complete['student_name'].count()
print(df)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget  \
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

       budget_per_student
0               48.778019
1               48.778019
2               48.778019
3               48.778019
4               48.778019
...                   ...
39165           26.630840
39166           26.630840
39167           26.630840
39168           26.630840
39169           26.630840

[39170 rows x 12 columns]

In [65]:
# Create a new column to define the spending ranges per student
df['spdg_rng_std'] = pd.cut(df['budget_per_student'], bins=spending_bins, labels=group_names)

print(df)

       Student ID       student_name gender grade         school_name  \
0               0       Paul Bradley      M   9th   Huang High School
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
4               4         Bonnie Ray      F   9th   Huang High School
...           ...                ...    ...   ...                 ...
39165       39165       Donna Howard      F  12th  Thomas High School
39166       39166          Dawn Bell      F  10th  Thomas High School
39167       39167     Rebecca Tanner      F   9th  Thomas High School
39168       39168       Desiree Kidd      F  10th  Thomas High School
39169       39169    Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget  \
0                 66          79          0  District  2917  1910635
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

       budget_per_student spending_range_per_student spdg_rng_std
0               48.778019                      <$585        <$585
1               48.778019                      <$585        <$585
2               48.778019                      <$585        <$585
3               48.778019                      <$585        <$585
4               48.778019                      <$585        <$585
...                   ...                        ...          ...
39165           26.630840                      <$585        <$585
39166           26.630840                      <$585        <$585
39167           26.630840                      <$585        <$585
39168           26.630840                      <$585        <$585
39169           26.630840                      <$585        <$585

[39170 rows x 14 columns]

In [66]:
# Calculate the average math score within each spending range
avr_math_by_spdg = df.groupby('spdg_rng_std')['math_score'].mean()

# Display the average math scores by spending range
print(avr_math_by_spdg)

spdg_rng_std
<$585       78.985371
$585-615          NaN
$615-645          NaN
$645-675          NaN
Name: math_score, dtype: float64

In [69]:
# Calculate the percentage passing rate for math in each spending range
df['math_passed'] = df['math_score'] >= 70
math_pass_by_spdg = (df.groupby('spdg_rng_std')['math_passed'].mean() * 100).round(2)

print(math_pass_by_spdg)

spdg_rng_std
<$585       74.98
$585-615      NaN
$615-645      NaN
$645-675      NaN
Name: math_passed, dtype: float64

In [70]:
# Calculate the percentage passing rate for reading in each spending range
df['reading_passed'] = df['reading_score'] >= 70
read_pass_by_spdg = (df.groupby('spdg_rng_std')['reading_passed'].mean() * 100).round(2)

print(read_pass_by_spdg)

spdg_rng_std
<$585       85.81
$585-615      NaN
$615-645      NaN
$645-675      NaN
Name: reading_passed, dtype: float64

In [71]:
# Calculate the percentage overall passing rate in each spending range
df['overall_passed'] = df['math_passed'] & df['reading_passed']
ovrl_pass_by_spending = (df.groupby('spdg_rng_std')['overall_passed'].mean() * 100).round(2)

print(ovrl_pass_by_spending)

spdg_rng_std
<$585       65.17
$585-615      NaN
$615-645      NaN
$645-675      NaN
Name: overall_passed, dtype: float64

### Scores by School Size

* Perform the same operations as above, based on school size.

In [72]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [75]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate